﻿@model IEnumerable<DBDriver.BookFineTable>

@{
    ViewBag.Title = "Pending Fine";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pending Fine</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Book Title
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            Fine Date
                        </th>
                        
                        <th>
                           No of Days
                        </th>
                        <th>
                            Fine per Days
                        </th>
                        <th>
                            Fine Amount
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTable.BookTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeTable.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FineDate)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfDays)
                            </td>
                            <td>
                                20 PHP
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FineAmount)
                            </td>
                            <td>
                                @Html.ActionLink("Submit Fine", "SubmitFine", new { id = item.BookFineID }, new { @class = "btn btn-success" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

