﻿@model IEnumerable<DBDriver.UserTypeTable>

@{
    ViewBag.Title = "All Users";
}

<p>
    @Html.ActionLink("New User Type", "Create", null, new { @class = "btn btn-success" })
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User Types</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserType)
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserType)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserTypeID }, new { @class="btn btn-primary"}) 
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


