﻿@using LibraryManagementSystem1.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var members = ViewBag.members as IEnumerable<MemberModel>;
}
<p>
    <button class="btn btn-success" onclick="window.location.href = '/Members/SyncFromBCASOASIS'">Import</button>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Members</h6>
    </div>
 
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            StudentNum
                        </th>
                        <th>
                            Firstname
                        </th>
                        <th>
                            Lastname
                        </th>
                        <th>
                            Middlename
                        </th>
                        <th>Departmentname</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var member in members)
                    {
                        <tr>
                            <td>
                                @member.StudentNum
                            </td>
                            <td>
                               @member.Firstname
                            </td>
                            <td>
                                @member.Lastname
                            </td>
                            <td>
                                @member.Middlename
                            </td>
                            <td>
                                @member.Department
                            </td>                         
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


