﻿@model IEnumerable<DBDriver.DesignationTable>

@{
    ViewBag.Title = "All Designations";
}


@Html.ActionLink("New Designation", "Create", null, new { @class = "btn btn-success" })
<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Designation</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Designation Title
                        </th>
                        <th>
                            Scale
                        </th>
                        <th>
                            User
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scale)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.DesignationID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.DesignationID }, new { @class = "btn btn-info" })
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
