﻿@model IEnumerable<DBDriver.BookTypeTable>

@{
    ViewBag.Title = "Book Category";
}


<p>
    @Html.ActionLink("New Category", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User Types</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                           Category                                                                                                                                         
                        </th>
                        @*<th>
                            User
                        </th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>*@
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.BookTypeID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
